version: '3.9'

services:
  db:
    image: postgres
    restart: on-failure
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=fb
    ports:
      - '5432:5432'
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - pgnetwork
  # webapp:
  #   build: .
  #   ports:
  #     - '8080:8080'
  #   volumes:
  #     - .:/app
  #   environment:
  #     - DATABASE_URL=postgresql://postgres:postgres@db:5432/fb?sslmode=disable
  #   depends_on:
  #     - db
  #   networks:
  #     - pgnetwork
volumes:
  db:
    driver: local

networks:
  pgnetwork:
    driver: bridge
